
h1{
    text-align: center;
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.deska {
    
    display: flex;
    justify-content: center;
    margin-left: 430px; ;
    background-color: grey;
    width: 500px;
    height: 500px;
}

.deskahry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rada {
    display: flex;
}

.pole {
    display: flex;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.bod{
    display: flex;
    justify-content: center;

}
.body{
    display: flex;
    background-color: gray;
    border: solid black;
    border-radius: 20px;
    margin: 20px;
    justify-content: center;
    width: 500;

}
.start{
    display: flex;
    justify-content: center;
}

button{
    display: flex;
    background-color: gray;
    border: solid black;
    border-radius: 20px;
    margin: 20px;
    justify-content: center;
    width: 500;
}

.pocet{
    margin: 5px;
}
#pocetO #pocetX{
    margin-left: 5px;
}