body{
    background-color: #afcbff  ;
}

h1{
    margin-top: 1px;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 75px;
    font-family: cursive;
}
.hra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.deska {
    border-radius: 15px;
    border: solid black ;
    display: flex;
    justify-content: center;
    background-color: #d7f9ff;
    
    width: 500px;
    height: 500px;
}

.deskahry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rada {
    display: flex;
}

.pole {
    font-family: cursive;
    background-color: #f9fbf2;
    display: flex;
    width: 150px;
    height: 150px;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius:  5px ;
    font-size: 100px;
    
}
.bod{
    display: flex;
    justify-content: center;

}
.body{
    font-size: 20px;
    display: flex;
    background-color: #ffede1;
    border: solid black;
    border-radius: 20px;
    margin: 20px;
    justify-content: center;
    width: 100px;

}

.start{
    display: flex;
    justify-content: center;
}

button{
    font-family: cursive;
    font-size: 20px;
    display: flex;
    background-color: #ffede1;
    border: solid black;
    border-radius: 20px;
    margin: 20px;
    justify-content: center;
    width: 500;
}

p{
    font-family: cursive;
}
.pocet{
    font-family: cursive;
    margin: 5px;
}
#pocetO #pocetX{
    padding-left: 2px;
    font-family: cursive;
    margin-left: 5px;
}

.napoveda{
    font-size: 40px;
    font-family: cursive;
    width: 100px;
}